In [62]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [97]:
df = pd.read_excel(r'C:\Users\ablab\OneDrive\Desktop\math_project_2\orange-telecom.xlsx')

In [98]:
df.columns

Index(['Année de réalisation', 'Date début', 'Nature Entité', 'Ville',
       'Administration', 'Nom de projet', 'Nature du Document',
       'Distance Autorisation / ml', 'Redevance / ml', 'Nombre de chambres',
       'Redevance / Chambre', 'Total Redevance', 'Autorisation', 'Date Fin',
       'Programme', 'Durée en jours', 'Année '],
      dtype='object')

In [86]:
df.dtypes

Année                                 object
Date début                    datetime64[ns]
Nature Entité                         object
Ville                                 object
Administration                        object
Nom de projet                         object
Nature du Document                    object
Distance Autorisation / ml           float64
Redevance / ml                       float64
Nombre de chambres                   float64
Redevance / Chambre                  float64
Total Redevance                      float64
Autorisation                          object
Date Fin                      datetime64[ns]
Programme                             object
Durée en jours                         int64
dtype: object

In [87]:
# Calculer la différence en jours
df['Durée en jours'] = (df['Date Fin'] - df['Date début']).dt.days

In [89]:
# Vérifier les durées négatives
neg_durations = df[df['Durée en jours'] < 0]
print(neg_durations[['Date début', 'Date Fin', 'Durée en jours']])

     Date début   Date Fin  Durée en jours
1693 2023-06-22 2022-07-13            -344
1694 2023-06-22 2022-07-13            -344

In [90]:
# Supprimer les lignes avec des durées négatives
df = df[df['Durée en jours'] >= 0]

In [91]:
# Vérifier les durées négatives
neg_durations = df[df['Durée en jours'] < 0]
print(neg_durations[['Date début', 'Date Fin', 'Durée en jours']])

Empty DataFrame
Columns: [Date début, Date Fin, Durée en jours]
Index: []

In [92]:
print(df.isnull().sum())

Année                         0
Date début                    0
Nature Entité                 0
Ville                         0
Administration                0
Nom de projet                 0
Nature du Document            0
Distance Autorisation / ml    0
Redevance / ml                0
Nombre de chambres            0
Redevance / Chambre           0
Total Redevance               0
Autorisation                  0
Date Fin                      0
Programme                     0
Durée en jours                0
dtype: int64

In [93]:
df.head(5)

,Année,Date début,Nature Entité,Ville,Administration,Nom de projet,Nature du Document,Distance Autorisation / ml,Redevance / ml,Nombre de chambres,Redevance / Chambre,Total Redevance,Autorisation,Date Fin,Programme,Durée en jours
0,2023,2023-10-02,CU,Laayoune,CU Laayoune,Laayoune Centre A1,Autorisation N°23/370,1089.0,6.0,16.0,100.0,8134.0,Autre,2024-01-02,VULA,92
1,2023,2023-10-02,CU,Laayoune,CU Laayoune,LAA005,Autorisation N°23/369,1750.0,6.0,25.0,100.0,13000.0,Autre,2024-01-02,FTTS,92
2,2019,2019-11-18,CU,Laayoune,CU Laayoune,LAA004,Autorisation N°18/758,1900.0,6.0,5.0,100.0,11900.0,Autre,2020-02-18,FTTS,92
3,2019,2019-12-13,CU,Laayoune,CU Laayoune,LAA001,Autorisation N°19/743,200.0,6.0,1.0,100.0,1300.0,Autre,2020-03-13,FTTS,91
4,2022,2022-04-05,CU,Laayoune,CU Laayoune,LAA024,Autorisation N°22/186,670.0,6.0,0.0,400.0,4020.0,Autre,2022-07-05,FTTS,91

In [94]:
nombre_villes = df['Ville'].nunique()
print(f"Nombre de villes uniques : {nombre_villes}")

Nombre de villes uniques : 200

In [102]:
df.to_excel(r'C:\Users\ablab\OneDrive\Desktop\math_project_2\telecom -orange.xlsx', index=False)

In [83]:
df.head(5)

,Année de réalisation,Date début,Nature Entité,Ville,Administration,Nom de projet,Nature du Document,Distance Autorisation / ml,Redevance / ml,Nombre de chambres,Redevance / Chambre,Total Redevance,Autorisation,Date Fin,Programme,Durée en jours,Durée
0,2023,2023-10-02,CU,Laayoune,CU Laayoune,Laayoune Centre A1,Autorisation N°23/370,1089.0,6.0,16.0,100.0,8134.0,Autre,2024-01-02,VULA,92,92
1,2023,2023-10-02,CU,Laayoune,CU Laayoune,LAA005,Autorisation N°23/369,1750.0,6.0,25.0,100.0,13000.0,Autre,2024-01-02,FTTS,92,92
2,2019,2019-11-18,CU,Laayoune,CU Laayoune,LAA004,Autorisation N°18/758,1900.0,6.0,5.0,100.0,11900.0,Autre,2020-02-18,FTTS,92,92
3,2019,2019-12-13,CU,Laayoune,CU Laayoune,LAA001,Autorisation N°19/743,200.0,6.0,1.0,100.0,1300.0,Autre,2020-03-13,FTTS,91,91
4,2022,2022-04-05,CU,Laayoune,CU Laayoune,LAA024,Autorisation N°22/186,670.0,6.0,0.0,400.0,4020.0,Autre,2022-07-05,FTTS,91,91

In [99]:
print(df.columns.tolist())

['Année de réalisation', 'Date début', 'Nature Entité', 'Ville', 'Administration', 'Nom de projet', 'Nature du Document', 'Distance Autorisation / ml', 'Redevance / ml', 'Nombre de chambres', 'Redevance / Chambre', 'Total Redevance', 'Autorisation', 'Date Fin', 'Programme', 'Durée en jours', 'Année ']

In [100]:
df.columns = df.columns.str.strip()

In [101]:
print(df.columns.tolist())

['Année de réalisation', 'Date début', 'Nature Entité', 'Ville', 'Administration', 'Nom de projet', 'Nature du Document', 'Distance Autorisation / ml', 'Redevance / ml', 'Nombre de chambres', 'Redevance / Chambre', 'Total Redevance', 'Autorisation', 'Date Fin', 'Programme', 'Durée en jours', 'Année']